<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      table td, table th {
        max-width: 200px;
        word-wrap: break-word;
        text-align: center;
      }
    </style>

    <title>Movies</title>
  </head>
<body>

<p id="notice"><%= notice %></p>

<div class="container">

<!-- Search Feature -->
<nav class="navbar navbar-light bg-light">
  <%= form_tag movies_path, :method => 'get', class: 'form-inline' do %>
    <%= text_field_tag :term, params[:term], class: 'form-control mr-sm-2', placeholder: 'Search', label: 'Search' %>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    </span>
    <div class="custom-control custom-radio custom-control-inline">
    <%= label :Title, "Title "%>
      <%= radio_button_tag :category, "\"Title\"", :checked => true %>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
    <%= label :Title, "Director "%>
      <%= radio_button_tag :category, "\"Director\"" %>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
    <%= label :Title, "Content "%>
      <%= radio_button_tag :category, "\"Content\"" %>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
    <%= label :Genres, "Genres "%>
      <%= radio_button_tag :category, "\"Genres\"" %>
    </div>
  <% end %>
</nav>

<!-- Table -->
<table class="table">
  <thead>
    <tr>
      <th style="text-align:left;">Title</th>
      <th>Year</th>
      <th>Director</th>
      <th>Duration</th>
      <th>Rating</th>
      <th>Content</th>
      <!--
      <th>Numreviews</th>
      <th>Country</th>
      <th>Gross</th>
      <th>Budget</th>
      <th>Actor1</th>
      <th>Actor2</th>
      <th>Actor3</th>
      -->
      <th>Genres</th>
      <!--<th>Keywords</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td class="title" style="text-align:left;"><%= movie.Title %></td>
        <td class="year"><%= movie.Year %></td>
        <td class="director"><%= movie.Director %></td>
        <td class="duration"><%= movie.Duration %></td>
        <td class="rating"><%= movie.Rating %></td>
        <td class="content"><%= movie.Content %></td>
        <!--
        <td><%= movie.NumReviews %></td>
        <td><%= movie.Country %></td>
        <td><%= movie.Gross %></td>
        <td><%= movie.Budget %></td>
        <td><%= movie.Actor1 %></td>
        <td><%= movie.Actor2 %></td>
        <td><%= movie.Actor3 %></td>
        -->
        <td class="genres"><%= movie.Genres %></td>
        <!--<td><%= movie.Keywords %></td>-->
        <td class="show"><%= link_to 'Show', movie %></td>
        <!--
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <br> -->
<!--<%= link_to 'New Movie', new_movie_path %>-->
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
