<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.Title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.Year %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.Director %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.Duration %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.Rating %>
</p>

<p>
  <strong>Content:</strong>
  <%= @movie.Content %>
</p>

<p>
  <strong>Numreviews:</strong>
  <%= @movie.NumReviews %>
</p>

<p>
  <strong>Country:</strong>
  <%= @movie.Country %>
</p>

<p>
  <strong>Gross:</strong>
  <%= @movie.Gross %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @movie.Budget %>
</p>

<p>
  <strong>Actor1:</strong>
  <%= @movie.Actor1 %>
</p>

<p>
  <strong>Actor2:</strong>
  <%= @movie.Actor2 %>
</p>

<p>
  <strong>Actor3:</strong>
  <%= @movie.Actor3 %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @movie.Genres %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @movie.Keywords %>
</p>



<h4>Purchases</h4>

<% @movie.purchases.each do |pur|
  @customer = Customer.find(pur.customer_id)
  %>
  <p>
    <%=@customer.first_name %> <%=@customer.last_name %>: purchased on <%=pur.created_at %>
  </p>

<% end %>

<%= link_to 'Rent or Buy', new_payment_path(:purchase_id=> @purchase) %> |
<%= link_to 'Purchase for Customer', new_purchase_path(:movie_id => @movie) %> |
<%= link_to 'Back', movies_path %>