<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'View Past Purchases', purchases_path(:customer_id => @user.customer_id) %> |
<%= link_to 'View Credit Cards', credit_cards_path(:customer_id => @user.customer_id) %> |
<%= link_to 'Edit', edit_user_path(:customer_id => @user.customer_id) %> |
<%= link_to 'Back', root_url %>
