
<p id="notice"><%= notice %></p>
<%= form_for(@customer) do |f| %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name%><br>

    <%= f.label :first_name %>
    <%= f.text_field :first_name%><br>

    <%= f.submit "Create Customer", class: "btn btn-primary" %>
<% end %>
