
<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :amount %>
    <%= f.association :credit_card %>
    <%= f.hidden_field :customer_id, :value => @customer.id %>
      <%= @customer.first_name %> <%= @customer.last_name %>
    <%= f.hidden_field :purchase_id, :value => @purchase.id %>
      <%= @purchase.created_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
