
<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :amount, :value => @amount %>
    Price: $<%= @amount %>
    <%= f.input :credit_card_id, :collection => @credit_cards, :label_method => :number, :value_method => :id, prompt: 'Select the card to use', required: true %>
    <%= f.hidden_field :customer_id, :value => @customer.id %>
    Customer: <%= @customer.first_name %> <%= @customer.last_name %><br>
    <%= f.hidden_field :purchase_id, :value => @purchase.id %>
    Ownership: <%= @purchase.ownership %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
