<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Credit card:</strong>
  <%= @payment.credit_card_id.organisation %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @payment.customer_id.last_name %>
</p>

<p>
  <strong>Purchased Movie:</strong>
  <%= @payment.purchase_id.movie.Title %> purchased on <%= @payment.purchase.created_at %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
